<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.comment.mapper.CommentMapper">


    <select id="tranComentToUser" resultType="java.lang.Long">
        select user_id
        from comment
        where id = #{commentId};
    </select>
    <select id="getComment" resultType="com.example.comment.domain.po.Comment">
        select *
        from comment
        where entity_id = #{postId};
    </select>
    <select id="getSubComment" resultType="com.example.comment.domain.po.Comment">
        select *
        from comment
        where comment_id = #{commentId};
    </select>
</mapper>